/* for that cool css */

body {
  margin: 0;
}

#game {
  position: absolute;
  left: 0;
  top: 0;
	width: 100%;
	height: 100%;
  /*width: 1000px;
  height: 600px;*/
  background-color: #aaf1a9;
  font-size: 40px;
}

#game .screen {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 10;
}

#game .screen.active {
  display: block;
}

#main-menu {
  padding-top: 1em;
  cursor: default;
  font-size: 0.75em;
}

ul.menu {
  text-align: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.menu li {
  margin: 0.8em 0;
}

ul.menu li button {
  font-family: Arial, sans-serif;
  font-size: 0.6em;
  color: #CECEF6;
  width: 10em;
  height: 1.5em;
  background: #005DB3;
  /* border: 0.1em solid rgba(223, 249, 245, 0.52); */
  border-radius: 7px;
  box-shadow: 0.2em 0.2em 0.3em #000000;
}

ul.menu li button:hover {
  background: #007FD0;
}

ul.menu li button:active {
  color: #005DB3;
  background: rgb(0, 0, 0);
}

#game div h1 {
  font-size: 1em;
  text-align: center;
}

#game div h2 {
  font-size: .75em;
  text-align: center;
}

#high-scores ol {
  text-align: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

#game div p {
  font-size: 0.5em;
}

#about p {
  text-align: center;
}

.form {
  width: 340px;
  margin: 0 auto;
  margin-top: 50px;
  border-top: 1px solid #d8dee2;
  border-radius: 5px;
  padding: 20px;
  font-size: 25px;
  background-color: #fff;
  border: 1px solid #d8dee2;
}

label {
  text-align: center;
  display: block;
  margin-bottom: 7px;
  font-weight: 600;
  box-sizing: border-box;
  cursor: default;
}

input {
  display: block;
  width: 90%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 15px;
  min-height: 34px;
  padding: 6px 8px;
  font-size: 16px;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(27,31,35,0.075);
}

#lobby-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-times: stretch;
	justify-content: flex-end;
}

#lobby-container > div {
	background-color: #f1f1f1;
	margin: 10px;
}

#message-body {
	width: 75%;
}

#lobby-body {
	width: 25%;
}

#message-body, #lobby-body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

#message-body > div {
	margin: 5px;
}

#lobby-body > div {
	margin: 5px;
}

#read-messages {
	overflow: auto;
	scroll-behavior: auto;
	height: 90%;
}

#enter-messages {
	height: 10%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-end;
}

#lobby-announcements {
	padding: 5px;
	overflow: auto;
	scroll-behavior: auto;
	height: 80%;
}

#exit-lobby {
	height: 20%;
}

#msg {
	position: left;
	width: 90%;
	margin: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	min-height: 25px;
	padding: 0px;
	line-height: 15px;
	vertical-align: left;
	border-radius: 2px;
  box-shadow: inset 0 1px 2px rgba(27,31,35,0.075);
  padding: 5px 5px;
  font-size: 12px; 
}

#msg-enter-btn {
	position: right;
	width: 10%;
	height: 37px;
	vertical-align: right;
}

#messages, #announce-tag { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	font-size: 12px;
}

#messages li { 
	padding: 5px 10px; 
}

#messages li:nth-child(odd) { 
	background: #FFFFFF; 
}
